
<div class="fixed-bottom w-25"  id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne" >
      
        <h6>
          ¿Cómo puedo ayudarle?
          <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span aria-hidden="true">&times;</span>
          </button>
        </h6>
      
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block container" #scrollMe style="overflow: scroll; height: xyz;" >
        <div *ngFor="let message of messages" >
          <div *ngIf="message.userId =='bot'; then thenBlock; else elseBlock"> </div>
          <ng-template #thenBlock>
            <div class="d-flex  justify-content-start">
              <img src="assets/images/bot.png"   class="rounded-circle avatar">
              <div  class="p-2 talk-bubble talk-bubble tri-right left-top">
                  <div class="talktext">
                    <p> {{message.text}} </p>
                  </div>
              </div>
              
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="d-flex  justify-content-start">
              <img src="assets/images/yo.jpg"   class="rounded-circle avatar">
              <div  class="p-2 talk-bubble tri-right left-top">
                  <div class="talktext">
                    <p> {{message.text}} </p>
                  </div>
              </div>
            </div>            
          </ng-template>

        </div>

      </div>
       
        <md-input-container class="example-full-width">
          <input mdInput #message (keydown)="keyDownFunction($event, message)" placeholder="Mensaje">
        </md-input-container>
        <a md-icon-button routerLink="." (click)="onClick(message)"  ><md-icon>send</md-icon></a>
    </div>
  </div>
</div>

